<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <form action="/login" method="post" >
                <div class="form-group" >
                    <label for="username" class="col-4 col-form-label">username...</label>
                    <input type="text" id="username" name="username" class="col-6"/>
                </div>
                <div class="form-group">
                    <label for="password" class="col-4 col-form-label">password...</label>
                    <input type="password" id="password" name="password" class="col-6"/>
                </div>
                <div class="form-group">
                    <label for="remember_me" class="col-4 col-form-label">remember-me...</label>
                    <input type="checkbox" id="remember_me" name="remember-me" class="col-6"/>
                </div>
                <input name="_csrf" type="hidden" value="269b40d4-9a99-4a70-873c-34c0982b49ca" />
                <button type="submit" class="btn btn-primary">abschicken</button>
            </form>
        </div>
    </div>
</body>
</html>